{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
      <h1 class="text-center mb-5">Nos produits</h1>
      <div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Prix</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>Un iPhone de 2017</td>
              <td>{{ product.price }} €</td>
              <td><a href="{{ path('product_show', {'slug': product.slug}) }}" class="btn btn-secondary">Voir le produit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if current_page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ path('product_index', {page: current_page - 1}) }}">Previous</a></li>
                {% endif %}
                {% for page in 1..total_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('product_index', {page: page}) }}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
                {% if current_page < total_page %}
                <li class="page-item"><a class="page-link" href="{{ path('product_index', {page: current_page + 1}) }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>

        {# dump(app) #}
        {# dump(app.user) #}
        {# dump(app.session.get('user')) #}
      </div>
    </div>
{% endblock %}
