<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        <title>{% block title %}Mon site{% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('product_index') }}">Produits</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        <footer class="bg-light py-5">
            <div class="container">
                <p class="text-center mb-0">Copyright &copy; {{ 'now' | date('Y') }}</p>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
